* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body #blog_cards {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

body #cards {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    position: relative;
    width: 270px;
    height: 336px;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.card img {
    width: 250px;
    height: 200px;
}