* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body #quiz_cards {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.card {
    width: 450px;
    height: 150px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 2px solid red;
    margin: 15px;
}

.card .question {
    width: 100%;
    height: 60px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(0, 107, 128);
    text-align: start;
}

.card .question h2 {
    color: white;
    padding: 0 15px;
}

.card .answer {
    width: 100%;
    height: 90px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(153, 153, 153);
}

.card .answer p {
    padding: 15px;
    font-size: 18px;
}